<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="actionParameters">
      <h2 data-cy="actionParametersDetailsHeading"><span>Action Parameters</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ actionParameters.id }}</span>
        </dd>
        <dt><span>Parameter Name</span></dt>
        <dd>
          <span>{{ actionParameters.parameterName }}</span>
        </dd>
        <dt><span>Display Name De</span></dt>
        <dd>
          <span>{{ actionParameters.displayNameDe }}</span>
        </dd>
        <dt><span>Display Name En</span></dt>
        <dd>
          <span>{{ actionParameters.displayNameEn }}</span>
        </dd>
        <dt><span>Display Name Fr</span></dt>
        <dd>
          <span>{{ actionParameters.displayNameFr }}</span>
        </dd>
        <dt><span>Display Name It</span></dt>
        <dd>
          <span>{{ actionParameters.displayNameIt }}</span>
        </dd>
        <dt><span>Action</span></dt>
        <dd>
          <div *ngIf="actionParameters.action">
            <a [routerLink]="['/action', actionParameters.action.id, 'view']">{{ actionParameters.action.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/action-parameters', actionParameters.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
