<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-criteria-heading" data-cy="CriteriaCreateUpdateHeading">Create or edit a Criteria</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_criteriaType">Criteria Type</label>
          <select class="form-control" name="criteriaType" formControlName="criteriaType" id="field_criteriaType" data-cy="criteriaType">
            <option [ngValue]="null"></option>
            <option *ngFor="let criteriaType of criteriaTypeValues" [value]="criteriaType">criteriaType</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_operator">Operator</label>
          <select class="form-control" name="operator" formControlName="operator" id="field_operator" data-cy="operator">
            <option [ngValue]="null"></option>
            <option *ngFor="let operator of operatorValues" [value]="operator">operator</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_criteriaPropertyValue">Criteria Property Value</label>
          <input
            type="text"
            class="form-control"
            name="criteriaPropertyValue"
            id="field_criteriaPropertyValue"
            data-cy="criteriaPropertyValue"
            formControlName="criteriaPropertyValue"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_positiveActionPropertyValue">Positive Action Property Value</label>
          <input
            type="text"
            class="form-control"
            name="positiveActionPropertyValue"
            id="field_positiveActionPropertyValue"
            data-cy="positiveActionPropertyValue"
            formControlName="positiveActionPropertyValue"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_criterias">Criterias</label>
          <select
            class="form-control"
            id="field_criterias"
            data-cy="criterias"
            name="criterias"
            formControlName="criterias"
            [compareWith]="compareCriteriaSet"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="criteriaSetOption" *ngFor="let criteriaSetOption of criteriaSetsSharedCollection">
              {{ criteriaSetOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
