<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-criteria-heading" data-cy="CriteriaCreateUpdateHeading">Create or edit a Criteria</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_operator">Operator</label>
          <select class="form-control" name="operator" formControlName="operator" id="field_operator" data-cy="operator">
            <option [ngValue]="null"></option>
            <option *ngFor="let operator of operatorValues" [value]="operator">operator</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_propertyValue">Property Value</label>
          <input
            type="text"
            class="form-control"
            name="propertyValue"
            id="field_propertyValue"
            data-cy="propertyValue"
            formControlName="propertyValue"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_property">Property</label>
          <select
            class="form-control"
            id="field_property"
            data-cy="property"
            name="property"
            formControlName="property"
            [compareWith]="compareCriteriaPropery"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="criteriaProperyOption" *ngFor="let criteriaProperyOption of criteriaProperiesSharedCollection">
              {{ criteriaProperyOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_criteria">Criteria</label>
          <select
            class="form-control"
            id="field_criteria"
            data-cy="criteria"
            name="criteria"
            formControlName="criteria"
            [compareWith]="compareCriteriaSet"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="criteriaSetOption" *ngFor="let criteriaSetOption of criteriaSetsSharedCollection">
              {{ criteriaSetOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
